Anomaly-detection-user7/
Report/
stats/
Multi-User-Prediction/  
coordinate-visualisation/
Anomaly-detection-allusers/stats.py
Anomaly-detection-allusers/MinDatafinal-model-validation_Eval.py
Anomaly-detection-allusers/MinData-final-model-validation_Training.py
Anomaly-detection-allusers/Alldata-final-model-validation_Training.py
Anomaly-detection-allusers/model*
Anomaly-detection-allusers/**/models*
Anomaly-detection-allusers/**/stats.py
Anomaly-detection-allusers/**/final-model.png
Anomaly-detection-allusers/experimentB/balanced-models/*
data/*
Anomaly-detection-allusers/experimentB/tensorboard.tar.gz
